#parallax
  min-height: calc(100vh - 56px)
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-image: url("https://picsum.photos/1900/1400")
  z-index 1
  .title
    background: rgba(255,255,255,0.5)
    z-index: -10
    position: fixed
    top: 40vh
    width: 100%
