nav.navbar
  box-shadow: 0px 0px 7px 4px oscuro
  background: #fff
  &.bg-dark
    background: oscuro  !important
    .dropdown-menu
      background: oscuro
    a
      color: #fff
    .logo
      background: oscuro
      box-shadow: 0px 0px 9px 3px primary
  .container
    position relative
  .logo
    position: absolute
    background: primary
    padding: 1.5rem 1rem
    text-align: center
    top: -10px
    border-radius: 0 0 5px 5px
    box-shadow: 0px 0px 9px 1px oscuro
    a.navbar-brand
      margin-right: 0px
      color: #fff
  .navbar-nav
    .nav-item
      a.active
        color: primary