// Grid
$columns = 12
$grid-gap = 30px
$breakpoints-and-widths = {
	'xs': {
		"breakpoint": "0",
		"container-width": "0"
	},
	'sm': {
		"breakpoint": "576px",
		"container-width": "540px"
	},
	'md': {
		"breakpoint": "768px",
		"container-width": "720px"
	},
	'lg': {
		"breakpoint": "992px",
		"container-width": "960px"
	},
	'xl': {
		"breakpoint": "1200px",
		"container-width": "1140px"
	}
}